/* Estilização do TOC */
#TOC {
    background-color: #0d47a1;
    border: 1px solid #0d47a1;
    padding: 10px;
    border-radius: 3px;
    color: white; 
}

/* Estilização dos cabeçalhos */
h1, h2, h3, h4, h5, h6 {
    color: #0033CC;
    font-weight: bold;
}

/* Estilização das seções do TOC */
.tocify-header {
    background-color: #FFFEC2; 
    font-weight: bold; 
    color: #0033CC; 
}

.tocify-item {
    background-color: #FFFEC2; 
    font-weight: bold; 
    color: #0033CC; 
}

.tocify-subheader {
    background-color: #FFFEC2; 
    color: #0033CC; 
}

.tocify-item .tocify-item {
    background-color: #FFFEC2; 
    color: #0033CC; 
}

/* Estilização do título e subtítulo */
.title, .subtitle {
    font-size: 2em; 
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-right: 200px; 
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .title {
        font-size: 1.5em;
        margin-right: 100px;
    }
    .subtitle {
        font-size: 1.2em;
        margin-right: 100px; 
    }
}
